<div class="left-container">
  <div class="main-container scroll-container" style="background: black"> 
    
    <!-- post start -->
    <div class="post-box format-gallery" style="background: black"> 
      <br>
      <br>
      <a title=""><img src="/images/puzzle.jpg" alt=""></a>
      <br>
      <div class="post-box-content">
        <br>
        <br>
        <h2 class="post-title"><a href="http://localhost:3000/quizzes/new" title="">What is your color?</a></h2>
        <br>
      </div> 
      <br>
    </div>
    <!-- post end --> 

    <footer>
      <div class="footer-lower">
        <div class="row">
          <div class="col-sm-12">
            <div class="copyright">Copyright 2017. All rights reserved.</div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>