<h1>What Color Are You? Quiz form page</h1>

<%= form_tag "/quizzes", method: :post do %>
  <h3>Choose the words or phrases that best suits you:</h3>
  <hr>
    <strong>1. &emsp;</strong><div class="radio-inline">
      <label><input type="radio" name="answer1" value="Confident">Confident</label>
    </div>
    <div class="radio-inline">
      <label><input type="radio" name="answer1" value="Trusting">Trusting</label>
    </div>
    <div class="radio-inline">
      <label><input type="radio" name="answer1" value="Structured">Structured</label>
    </div>
  <hr>
    <strong>2. &emsp;</strong><div class="radio-inline">
      <label><input type="radio" name="answer2" value="Spontaneous">Spontaneous</label>
    </div>
    <div class="radio-inline">
      <label><input type="radio" name="answer2" value="Dreamer">Dreamer</label>
    </div>
    <div class="radio-inline">
      <label><input type="radio" name="answer2" value="Analytical">Analytical</label>
    </div>
  <hr>
    <strong>3. &emsp;</strong><div class="radio-inline">
      <label><input type="radio" name="answer3" value="Stubborn">Stubborn</label>
    </div>
    <div class="radio-inline">
      <label><input type="radio" name="answer3" value="Dictatorial">Dictatorial</label>
    </div>
    <div class="radio-inline">
      <label><input type="radio" name="answer3" value="Rebellious">Rebellious</label>
    </div>
  <hr>
    <strong>4. &emsp;</strong><div class="radio-inline">
      <label><input type="radio" name="answer4" value="Persistent">Persistent</label>
    </div>
    <div class="radio-inline">
      <label><input type="radio" name="answer4" value="Demanding">Demanding</label>
    </div>
    <div class="radio-inline">
      <label><input type="radio" name="answer4" value="Passionate">Passionate</label>
    </div>
  <hr>
    <strong>5. &emsp;</strong><div class="radio-inline">
      <label><input type="radio" name="answer5" value="Nurturing">Nurturing</label>
    </div>
    <div class="radio-inline">
      <label><input type="radio" name="answer5" value="Cautious">Cautious</label>
    </div>
    <div class="radio-inline">
      <label><input type="radio" name="answer5" value="Harmonious">Harmonious</label>
    </div>
  <hr>
    <strong>6. &emsp;</strong><div class="radio-inline">
      <label><input type="radio" name="answer6" value="Energetic">Energetic</label>
    </div>
    <div class="radio-inline">
      <label><input type="radio" name="answer6" value="Over-Generous">Over-Generous</label>
    </div>
    <div class="radio-inline">
      <label><input type="radio" name="answer6" value="Spunky">Spunky</label>
    </div>
  <hr>
    <strong>7. &emsp;</strong><div class="radio-inline">
      <label><input type="radio" name="answer7" value="Forceful">Forceful</label>
    </div>
    <div class="radio-inline">
      <label><input type="radio" name="answer7" value="Disciplined">Disciplined</label>
    </div>
    <div class="radio-inline">
      <label><input type="radio" name="answer7" value="Charismatic">Charismatic</label>
    </div>
  <hr>
    <strong>8. &emsp;</strong><div class="radio-inline">
      <label><input type="radio" name="answer8" value="Believable">Believable</label>
    </div>
    <div class="radio-inline">
      <label><input type="radio" name="answer8" value="Dutiful">Dutiful</label>
    </div>
    <div class="radio-inline">
      <label><input type="radio" name="answer8" value="Idealist">Idealist</label>
    </div>
  <hr>
    <strong>9. &emsp;</strong><div class="radio-inline">
      <label><input type="radio" name="answer9" value="Daring">Daring</label>
    </div>
    <div class="radio-inline">
      <label><input type="radio" name="answer9" value="Compassionate">Compassionate</label>
    </div>
    <div class="radio-inline">
      <label><input type="radio" name="answer9" value="Logical">Logical</label>
    </div>
  <hr>
  <p><%= submit_tag "Get My Color!"%></p>
<% end %>
