<h3>What Color Are You? Quiz form page</h3>

<p><a href="http://codeactually.com/interactivequiz.html">See this link for tutorial</a></p>


<!DOCTYPE html>
<html>
<head>
<title>JavaScript Quiz</title>
</head>
<body>
<div id="main"><!-- open main div -->
<div id="header"><!-- open header div -->
<h1>JavaScript Quiz</h1>
</div><!-- close header div -->

<h1>JavaScript Quiz</h1>
<form id="form1">
<fieldset>
<h2>When facing a big project, you are...</h2>
<label for="var_string"><input class="question" type="radio" name="variable" value="0" id="var_string" />Deadline-driven</label>
<label for="var_join"><input class="question" type="radio" name="variable" value="0" id="var_join" />Worrying</label>
<label for="var_info"><input class="question" type="radio" name="variable" value="25" id="var_info" />Researching</label>
<label for="var_condition"><input class="question" type="radio" name="variable" value="0" id="var_condition"/>Making it a group effort</label>

<h2>When someone asks for a favor, you...</h2>
<label for="sub_string"><input class="question" type="radio" name="sub" value="25" id="sub_string"/>Wonder what you're getting in return</label>
<label for="sub_join"><input class="question" type="radio" name="sub" value="0" id="sub_join"/>Say yes, but then have second thoughts</label>
<label for="sub_info"><input class="question" type="radio" name="sub" value="0" id="sub_info" />Tell them you'll think about it</label>
<label for="sub_condition"><input class="question" type="radio" name="sub" value="0" id="sub_condition" />Just agree</label>

<h2>When you're stuck in traffic, you...</h2>
<label for="cat_string"><input class="question" type="radio" name="con" value="0" id="cat_string" />Honk a lot</label>
<label for="cat_join"><input class="question" type="radio" name="con" value="25" id="cat_join" />Never honk</label>
<label for="cat_info"><input class="question" type="radio" name="con" value="0" id="cat_info" />Take a shortcut</label>
<label for="cat_condition"><input class="question" type="radio" name="con" value="0" id="cat_condition" />Dance along to the radio</label>

<h2>When there's a crying baby, you think...</h2>
<label for="if_string"><input class="question" type="radio" name="ifstate" value="0" id="if_string" />"Ugh, be quiet already!"</label>
<label for="if_join"><input class="question" type="radio" name="ifstate" value="0" id="if_join" />"Aww, poor thing!"</label>
<label for="if_info"><input class="question" type="radio" name="ifstate" value="0" id="if_info" />"Hm, can I do anything to help?"</label>
<label for="if_condition"><input class="question" type="radio" name="ifstate"  value="25" id="if_condition" />"Yikes, that's annoying..."</label>

<button type="submit" value="Submit">Submit</button>
</fieldset>
</form>

<p>Your color is: <span id="color">__</span></p>
<p id="color2"></p>
</div><!-- close main div -->

<script>
document.getElementById("form1").onsubmit = function() {
  variable = parseInt(document.querySelector('input[name = "variable"]:checked').value);
  sub = parseInt(document.querySelector('input[name = "sub"]:checked').value);
  con = parseInt(document.querySelector('input[name = "con"]:checked').value);
  ifstate = parseInt(document.querySelector('input[name = "ifstate"]:checked').value);

  result = variable + sub + con + ifstate;
     
  document.getElementById("color").innerHTML = result;

  coloring = [
    {score:0,feedback:"Your color is:", image: "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/SNice.svg/220px-SNice.svg.jpg"},
    {score:25,feedback:"Your color is:", image: "25.jpg"},
    {score:50,feedback:"Your color is:", image: "50.jpg"},
    {score:75,feedback:"Your color is:", image: "75.jpg"},
    {score:100,feedback:"Your color is:", image: "100.jpg"}
  ];
  
  for (i = 0; i < coloring.length; i++) {
    if (result == coloring[i].score) {
      result2 = coloring[i].feedback
    }
  }
  document.getElementById("color2").innerHTML = result2;
  return false; // required to not refresh the page; just leave this here
};//this ends the submit function
</script>
</body>
</html>