<div class="left-container">
  <div class="main-container scroll-container" style="background: black"> 
    
    <!-- post start -->
    <div class="post-box format-gallery" style="background: black"> 
      <!-- post thumbnail --> 
      <br>
      <br>
      <a title="Color Wall"><img src="/images/wall.jpg" alt="" /></a>
      <br>
      <div class="post-box-content">
        <br>
        <br>
        <h2 class="post-title"><a href="/signup" title="/">Your Wall, Your Colors</a></h2>
        <br>
        <h5>A web app for finding and storing all the colors of rainbow - all in one spot.</h5>
        <br>
      </div>  
    </div>
    <!-- post end --> 

    <!-- post start -->
    <div class="post-box format-gallery" style="background: black"> 
      <!-- post thumbnail --> 
      <br>
      <br>
      <a title="Color Personality Test"><img src="/images/personality.jpg" alt="" /></a>
      <br>
      <div class="post-box-content">
        <br>
        <br>
        <h2 class="post-title"><a href="/quizzes" title="Color Personality Test">Color Personality Test</a></h2>
        <br>
        <h5>Find the color associated with your personality</h5>
        <br>
      </div>  
    </div>
    <!-- post end --> 

    <!-- post start -->
    <div class="post-box format-gallery" style="background: black"> 
      <!-- post thumbnail --> 
      <br>
      <br>
      <a title="Colors Index"><img src="/images/palette.png" alt="" /></a>
      <br>
      <div class="post-box-content">
        <br>
        <br>
        <h2 class="post-title"><a href="/colors" title="Colors Index">Colors Index</a></h2>
        <br>
        <h5>Browse through all the colors of the rainbow</h5>
        <br>
      </div>  
    </div>
    <!-- post end --> 

    <footer>
      <div class="footer-lower">
        <div class="row">
          <div class="col-sm-12">
            <div class="copyright">Copyright 2017. All rights reserved.</div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>