<div class="left-container">
  <div class="main-container scroll-container"> 
    
    <!-- post start -->
    <div class="post-box format-gallery"> 
      <!-- post thumbnail --> 
      <a href="http://localhost:3000/colors" title="Colors Index"><img src="/images/post1.jpg" alt="" /><em class="post-format-icon"></em> </a>
      <div class="post-box-content">
        <h2 class="post-title"><a href="http://localhost:3000/colors" title="A post with image gallery">Colors Index</a></h2>
        <p>Come checkout all the different colors of the rainbow!</p>
        <p><a href="http://localhost:3000/colors" class="btn more">See colors</a></p>
      </div>
    </div>
    <!-- post end --> 
    
    
     <!-- post start -->
    <div class="post-box format-video"> 
      <!-- post thumbnail --> 
      <a href="http://localhost:3000/quizzes" title="What Color Are YOU?"><img src="/images/post3.jpg" alt="" /><em class="post-format-icon"></em> </a>
      <div class="post-box-content">
        <h2 class="post-title"><a href="http://localhost:3000/quizzes" title="What Color are YOU?">What Color Are YOU?</a></h2>
        <p>Come find out what color you are based on your personality!</p>
        <p><a href="http://localhost:3000/quizzes" class="btn more">Find my color</a></p>
      </div>
    </div>
    <!-- post end -->

   <!-- post start -->
    <div class="post-box format-standard"> 
      <!-- post thumbnail --> 
      <a href="http://localhost:3000/walls" title="What is Color Wall?"> <img src="/images/post6.jpg" alt="" /><em class="post-format-icon"></em> </a>
      <div class="post-box-content">
        <h2 class="post-title"><a href="http://localhost:3000/projects" title="What is Color Wall?">What is Color Wall?</a></h2>
        <p>Color Wall is for artists, designers and really anyone who needs a place to store all their colors!</p>
        <p><a href="http://localhost:3000/projects" class="btn more">Go to my projects</a></p>
      </div>
    </div>
    <!-- post end --> 
    
    <footer>
      <div class="footer-lower">
        <div class="row">
          <div class="col-sm-12">
            <div class="copyright">Copyright 2017. All rights reserved.</div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>