<h3>Welcome to</h3>
<h1>Color Wall!</h1>
<br>

<h2>What is Color Wall?</h2>
<p>Some description here</p>
<p>Place link "Go to My Wall"</p>

<h2>Colors Index</h2>
<p>Some description here</p>
<p>Place link "See all colors"</p>

<h2>Color Match Your Project</h2>
<p>Some description here</p>
<p>Place link "Find my project colors"</p>

<h2>What Color Are You?</h2>
<p>Some description here</p>
<p>Place link "Take the quiz now"</p>
