<h3>Welcome to</h3>
<h1>Color Wall!</h1>
<br>

<h2>What is Color Wall?</h2>
<p>Some description here</p>
<p><a href="http://localhost:3000/walls">Go to My wall</a></p>

<h2>Colors Index</h2>
<p>Some description here</p>
<p><a href="http://localhost:3000/colors">See all colors</a></p>

<h2>Color Match Your Project</h2>
<p>Some description here</p>
<p><a href="http://localhost:3000/matches">Find my project colors</a></p>

<h2>What Color Are You?</h2>
<p>Some description here</p>
<p><a href="http://localhost:3000/quizzes">Give me my color</a></p>
