// Place all the styles related to the quiz controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {

font-family: Helvetica;
margin-bottom: 100px;
}

.big_box {
  float: left;
  width: 200px;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, .2);
}
